#nav-top
    text-align center
    margin 0
#searchbar
    background-color #777
    padding 5px 15px
.nav
    padding 0 15px
h3
    font-size 20px
    line-height 48px
    margin 0!important

#title
    font-weight bold
#newmsg
    line-height 44px
    position absolute
    top 0
    right 15px
#edit
    position absolute
    top 0
    left 15px
#search
    text-align center
.msg h3
    line-height 20px
.msg-cont
    padding-left 30px
.msg
    padding-top 10px
    padding-right 15px
    border-bottom #999 1px solid
    height 90px
    position relative
.msg-time
    position absolute
    right 15px
    top 8px
    color #999
    font-size 18px
    line-height 18px
.msg-text
    padding-top 5px
    color #999
    font-size 20px
    line-height 24px