
<head>
  <title>app7</title>
  <meta name="viewport" content="width=100%, user-scalable=false"/>
</head>
<body>
  {{> header}}
  {{> messages}}
</body>
<template name="header">
  <nav id="nav-top" role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="nav"><a class="pull-left">
        <h3 id="edit">Edit</h3></a>
      <h3 id="title">Messages</h3><a class="pull-right">
        <h3 id="newmsg" class="glyphicon glyphicon-pencil"></h3></a>
    </div>
  </nav>
  <div id="searchbar" class="row">
    <div style="margin:5px 10px">
      <input id="search" type="text" placeholder="Search" class="form-control"/>
    </div>
  </div>
</template>
<template name="messages">
  <div class="msg-cont">
    <div class="msg">
      <h3><strong>John</strong></h3>
      <div class="msg-time">Yesterday <span class="glyphicon glyphicon-chevron-right"></span></div>
      <div class="msg-text">Hello, man how are you doing? Just wanted to let you know I've arrived</div>
    </div>
  </div>
  <div class="msg-cont">
    <div class="msg">
      <h3><strong>Susy</strong></h3>
      <div class="msg-time">Saturday <span class="glyphicon glyphicon-chevron-right"></span></div>
      <div class="msg-text">Hi, what's up?</div>
    </div>
  </div>
  <div class="msg-cont">
    <div class="msg">
      <h3><strong>John</strong></h3>
      <div class="msg-time">Friday <span class="glyphicon glyphicon-chevron-right"></span></div>
      <div class="msg-text">All right, I'm going to Atlanta</div>
    </div>
  </div>
</template>