head
  title app7
  meta(name="viewport", content="width=100%, user-scalable=false")
body
  {{> header}}
  {{> messages}}
template(name="header")
    nav#nav-top.navbar.navbar-default.navbar-static-top(role="navigation")
        .nav
            a.pull-left
                h3#edit Edit
            h3#title Messages
            a.pull-right
                h3#newmsg.glyphicon.glyphicon-pencil
    #searchbar.row
        div(style="margin:5px 10px")
            input#search.form-control(type="text", placeholder="Search")

template(name="messages")
    .msg-cont
        .msg
            h3
                strong John
            .msg-time
                | Yesterday 
                span.glyphicon.glyphicon-chevron-right
            .msg-text
                | Hello, man how are you doing? Just wanted to let you know I've arrived
    .msg-cont
        .msg
            h3
                strong Susy
            .msg-time
                | Saturday 
                span.glyphicon.glyphicon-chevron-right
            .msg-text
                | Hi, what's up?
    .msg-cont
        .msg
            h3
                strong John
            .msg-time
                | Friday 
                span.glyphicon.glyphicon-chevron-right
            .msg-text
                | All right, I'm going to Atlanta